.searchData__flex{
	display: flex;
	
	margin-bottom: 20px;
}
.searchData__item{
	display: flex;
	align-items: center;

	
	margin-right:10px;
}

.searchData__p{
	font-size: 18px;
	color: var(--color-template-dark);
	width:35px;
}

.searchData__input{
	padding: 5px;
	border-radius: 5px;
	border:2px solid var(--color-template-medium);
	
	color: var(--color-template-dark);
	font-size: 12px;

	transition: border .2s, box-shadow .2s;

	margin-right: 10px;
}
.searchData__input:focus{
	border:2px solid var(--color-template-dark);
	box-shadow: 0 0 5px 2px var(--shadow-hover-button);
}
.searchData__day,
.searchData__month{
	width:50px;
}

.searchData__year{
	width:90px;
}

.searchData__button{
	height: 70px;
	width:100%;
	margin: 0 50px;
	border-radius: 20px;
	border: 2px solid #000;
	background-color: var(--color-template-dark);
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: .5px;
	font-style: italic;
	text-transform: uppercase;

	transition: background-color .2s, border .2s, box-shadow .2s, cursor .2s, color .2s;
}
.searchData__button:hover{
	border: 2px solid #fff;
	background-color: var(--color-template-dark);
	box-shadow: 0 0 10px 5px var(--shadow-hover-button);
	cursor: pointer;
}
.searchData__button:active{
	background-color: var(--color-template-light);
	color: var(--color-template-dark);
}



@media(max-width:1100px){
	.searchData__button{
		
		margin: 0;
	}
}

@media(max-width:750px){
	.searchData__flex{
		flex-wrap: wrap;
	}
	.searchData__item{
		flex: 0 0 45%;
		margin-bottom: 15px;
	}
	.searchData__button{
		height:50px;
		width: 150px;
		margin: 0 auto;
	}
	.searchData__day,
	.searchData__month{
		width:30px;
	}

	.searchData__year{
		width:50px;
	}
}
@media(max-width:510px){
	.searchData__button{
		font-size: 14px;
		height: 40px;
		width: 120px;
	}
}
@media(max-width:350px){
	
}