/* СТИЛИЗАЦИЯ КНОПКИ И ПОИСКОВОЙ СТРОКИ */
.search{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	

	margin-bottom: 40px;
	padding:0 150px;
	gap: 20px 0;
}

.search__subtitle{
	font-size: 32px;
	margin-right: 90px;
	
	flex: 0 0 45%;
}



.search__input{
	padding: 10px;
	border-radius: 5px;
	border:2px solid var(--color-template-medium);
	
	color: var(--color-template-dark);
	font-size: 24px;

	transition: border .2s, box-shadow .2s;
}
.search__input:focus{
	border:2px solid var(--color-template-dark);
	box-shadow: 0 0 5px 2px var(--shadow-hover-button);
}

.search__year {
	width: 100px;
}
.search__button{
	height: 70px;
	width:100%;
	margin: 0 50px;
	border-radius: 20px;
	border: 2px solid #000;
	background-color: var(--color-template-dark);
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: .5px;
	font-style: italic;
	text-transform: uppercase;

	transition: background-color .2s, border .2s, box-shadow .2s, cursor .2s, color .2s;
}
.search__button:hover{
	border: 2px solid #fff;
	background-color: var(--color-template-dark);
	box-shadow: 0 0 10px 5px var(--shadow-hover-button);
	cursor: pointer;
}
.search__button:active{
	background-color: var(--color-template-light);
	color: var(--color-template-dark);
}



@media(max-width:1100px){
	.search{
		padding: 0 20px;
	}
	.search__subtitle{
		
		margin-right: 0;
		
	}
}

@media(max-width:750px){
	.search { 
		gap: 10px;
		margin-bottom: 20px;
		justify-content: space-between;

		
	}
	.search__subtitle{
		font-size: 24px;
	}
	.search__input{
		padding: 7px 15px;
		
		width:200px;
		margin: 0;
		
		font-size: 18px;
	}
	.search__button{
		height: 50px;
		width:150px;
		font-size: 16px;
		margin: 0 auto;
	}
}
@media(max-width:510px){
	
}
@media(max-width:350px){
	
}